/* Class Attributes */
/* .quiz-Window{
    display: none;
}
.quizResults-Window{
    display: none;
}
.topScoreBoard{
    display: none;
} */
/* ID Attributes*/
#choiceList li{
   padding: 5px;
   list-style-type: none;
}
#choiceList button{
    display: block;
    width: 100%;
    /* padding: 10px;
    margin-bottom: 10px; */
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    color: #ffffff; 
    cursor: pointer;
}